<nav style="text-align: center; margin-bottom: 2rem;">
  <a href="{{ site.baseurl }}/" style="margin: 0 1rem;">Home</a>
  <a href="{{ site.baseurl }}/about" style="margin: 0 1rem;">About</a>
  <a href="{{ site.baseurl }}/media" style="margin: 0 1rem;">Media</a>
  <a href="{{ site.baseurl }}/projects" style="margin: 0 1rem;">Projects</a>
  <a href="{{ site.baseurl }}/publications" style="margin: 0 1rem;">Publications</a>
  <a href="{{ site.baseurl }}/contact" style="margin: 0 1rem;">Contact Us</a>
</nav>
